<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zeta API</title>
  <style>
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 98.3vh;
    }
    .box img {
      width: 80vh;
      height: fit-content;
    }
  </style>
</head>
<body>
  <div class="box">
    <img src="zeta.png" alt="zeta">
    <h1>Jangan otak atik API nya ya sayang, nanti zeta marah loh!</h1>
  </div>
</body>
</html>